@import "breakpoints";

:root {
  --black-color: #000000;
  --yellow-color: #FBBC0F;
  --white-color: #FFFFFF;
  --background-color: #FFFFFF;
  --card-backgound: #F9F8F8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  width: 100vw;
  height: 100vh;
  font-size: calc(16vw / (1440 / 100));
  font-family: 'Wix Madefor Display', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;

  @include for-desktop-down() {
    font-size: calc(16vw / (780 / 100));
  }

  @include for-tablet-down() {
    font-size: calc(16vw / (480 / 100));
  }
}

body {
  background: var(--background-color);
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  position: relative;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}

.title_1 {
  color: var(--black-color);
  font-size: 4.375rem;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.0875rem;

  @include for-desktop-down() {
    font-size: 3.3rem;
    letter-spacing: -0.0625rem;
  }

  @include for-tablet-down() {
    font-size: 2.5rem;
    letter-spacing: -0.05rem;
  }
}

.title_2 {
  color: var(--black-color);
  font-size: 3.125rem;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -0.0625rem;

  @include for-desktop-down() {
    font-size: 2.5rem;
  }

  @include for-tablet-down() {
    font-size: 2.25rem;
  }
}

.headline_1 {
  color: var(--black-color);
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -0.025rem;

  @include for-desktop-down() {
    font-size: 1.875rem;
    line-height: 2.0625rem;
    letter-spacing: -0.01875rem;
  }

  @include for-tablet-down() {
    font-size: 2rem;
    letter-spacing: -0.02rem;
  }
}

.headline_2 {
  color: var(--black-color);
  font-size: 2rem;
  font-weight: 600;
  line-height: 120%;

  @include for-desktop-down() {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 2.1rem;
  }
}

.subhead_1 {
  color: var(--black-color);
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 140%;

  @include for-desktop-down() {
    font-size: 1.5rem;
  }

  @include for-tablet-down() {
    font-size: 1.5rem;
  }
}

.subhead_2 {
  color: var(--black-color);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.1rem;

  @include for-desktop-down() {
    font-size: 1.25rem;
  }

  @include for-tablet-down() {
    font-size: 1.5rem;
  }
}

.text_1 {
  color: var(--black-color);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 140%;

  @include for-desktop-down() {
    line-height: 1.4625rem;
  }

  @include for-tablet-down() {
    line-height: 130%;
  }
}

.text_2 {
  color: var(--black-color);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.0175rem;
}

.footer_1 {
  color: var(--black-color);
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: -0.0175rem;

  @include for-tablet-down() {
    font-size: 1rem;
    letter-spacing: -0.03rem;
  }
}